<!--xml-->
<launch>
  <node ns="camera" pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
    <param name="image_width" type="int" value="640" />
    <param name="image_height" type="int" value="480" />'
    <param name="autofocus" type="bool" value="true"/>
    <param name="video_device" type="string" value="/dev/video0" />
    <param name="pixel_format" value="yuyv" />
    <param name="frame" type="string" value="webcam" />
    </node>
</launch>
