<launch>

<group ns="/AcceleGlove">
	<node pkg="AcceleGlove" type="serial_string" name="AcceleGloveSerial" respawn="true">
        	<param name="publisher_topic" value="/AcceleGlove/glove_serial_rx" />	 
        	<param name="subscriber_topic" value="/AcceleGlove/glove_serial_tx" />
		<param name="device" value="/dev/ttyUSB0" />	
		<param name="baudrate" value="38400" />		
		<param name="termination_character" value="0" />
	</node>
	
	<node pkg="AcceleGlove" type="accele_glove" name="AccGlove" output="screen">
        	<param name="glove_serial_pub_topic" value="/AcceleGlove/glove_serial_tx" />	 
        	<param name="glove_serial_sub_topic" value="/AcceleGlove/glove_serial_rx" />
		<param name="glove_acc_data_pub_topic" value="/AcceleGlove/glove_acc_data" />	
		<param name="loop_frequency" value="25" />
	</node>

</group>
</launch>
